body {
    background-color: #f0f0f0;
    font-family: italic;
    color: white;
    margin-top: 40px;
}
#F1 {#titulo1
    color: #f0f0f0;
    text-align: center;
    border-bottom: 6px solid rgb(8, 8, 27);
    padding-bottom: 10px;
}
    #F2 {#titulo2
        color: #33333;
        text-align: center;
        border-bottom: 6px solid #007;
        padding-bottom: 10px;
    
    }
